@using BackSiteTemplate.Models.ViewModel
@model vmChangePwd;

@Html.ValidationSummary("", new { @class = "text-danger" })
<form id="changePwd" asp-controller="Home" asp-action="ChangePwd" method="post">
    @Html.AntiForgeryToken()


    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text">@Html.LabelFor(m => m.OldPwd, new { @class = "col-md-2 control-label" })</div>
        </div>

        @Html.PasswordFor(m => m.OldPwd, new { @class = "form-control col-4" })
    </div>


    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text">@Html.LabelFor(m => m.NewPwd, new { @class = "col-md-2 control-label" })</div>
        </div>
        @Html.PasswordFor(m => m.NewPwd, new { @class = "form-control col-4" })
    </div>


    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text">@Html.LabelFor(m => m.CheckPwd, new { @class = "col-md-2 control-label" })</div>
        </div>
        @Html.PasswordFor(m => m.CheckPwd, new { @class = "form-control col-4" })
    </div>

    <button type="submit" class="btn btn-md btn-primary">變更</button>
    <button type="button" class="btn btn-md btn-primary" onclick="location.href='/'">返回</button>
</form>
